p, h2, h3, h4, h1{
    font-family: 'Quicksand', sans-serif;
}

h2{
    font-size: 32px;    
}

.bump-container{
    padding: 0 2%;
    background-color: #005950; 
}

.bump-section-1{
    background-image: url('../images/bg_01.png');
}

.bump-section-1 h2{
    color: #fff;
    font-size: 32px;
}

.bump-section-2{
    background-image: url('../images/bg_02.png');
}

.bump-section-3{
    background-image: url('../images/bg_03.png');
}

.bump-row{
    padding: 30px 0;
}

.bump-row-last{
    padding-top: 30px;
}

.bump-share-icons a{
    font-size: 2em;
    color: #fff;
    margin-right: 5px;
}

.bump-logo{
    margin-top: -15%;
}

.bump-reviews p{
    font-size: 20px;
}

.bump-reviews a{
    background: none;
}

.bump-reviews a:hover{
    background: none;
}

.bump-video{
    display: block;
    margin: 0 auto;
}

#bump-slidenav img{
    cursor: pointer;
}

.bump-slide-selected{
    box-shadow: 0px 0px 15px 0px rgba(255,255,255,1);
}